@model RESUME_BUILDER.Models.Training

@{
    ViewData["Title"] = "Details";
}

<h1>Training Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Student Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FirstName)
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
        <dt class = "col-sm-2">
            Training
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainingName)
        </dd>
        <dt class = "col-sm-2">
            Year Attended
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearAttended)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
